doctype html
html(lang="ru")
    include ../pug/modules/head.pug
        title Контакты
    body(data-spy="scroll" data-target=".site-navbar-target" data-offset="300")
        .site-wrap
            include ../pug/modules/header.pug
            include ../pug/modules/contact_module.pug
            include ../pug/modules/map.pug	
            include ../pug/modules/footer.pug
            include ../pug/modules/fullscreen-loader.pug