doctype html
html(lang="ru")
    include ../pug/modules/head.pug
        title Галерея
    body(data-spy="scroll" data-target=".site-navbar-target" data-offset="300")
        .site-wrap
            include ../pug/modules/header.pug
            include ../pug/modules/main-gallery.pug
            include ../pug/modules/feedback.pug
            include ../pug/modules/footer.pug
            script(src='js/gallery.js')
            include ../pug/modules/fullscreen-loader.pug