doctype html
html(lang="ru")
head
    meta(charset='utf-8')
    //- meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="keywords" content="яхта, прогулки на яхте, романтические прогулки, аренда яхты тольятти, прокат яхты тольятти, яхта тольятти, прогулки на яхте")
    meta(name="description" content="Готовьтесь к романтическим и увлекательным прогулкам на яхте по прекрасным Волжским просторам. Насладитесь неповторимыми видами и атмосферой, погружаясь в мир яхтинга и приключений с Вашей Счастливой звездой")
    link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='fonts/icomoon/style.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel="stylesheet" href="css/swiper.css")
    link(href="images/favicon.ico" rel="icon")
    title Аренда яхты, Счастливая звезда в Тольятти
    
body(data-spy="scroll" data-target=".site-navbar-target" data-offset="300")
    .site-wrap
        include ../pug/modules/header.pug
        include ../pug/modules/slide.pug
        include ../pug/modules/gallery_module.pug
        include ../pug/modules/about_module.pug
        include ../pug/modules/advantages.pug
        include ../pug/modules/information.pug	
        include ../pug/modules/reviews.pug
        include ../pug/modules/reservation-contact.pug
        include ../pug/modules/footer.pug
        include ../pug/modules/fullscreen-loader.pug

        //для меню бургер сделать закрытие, при клике или уходе из блока меню
        //ошибка связанные с фавииконкой на сервере
        //изменить цвет фона разделов
        //подобрать другие логотипы
        //сжать изображения до webp с возможностью загружать jpg если не поддерживается браузером
        //добавить префиксы для стилей
        //переписать все названия классов и стилей т.к. они в разнобой
        //структурировать стили по порядку
        //при адапртиве до момента появлению бургер меню - все иконки и шрифты шапки сужаются 

