doctype html
html(lang="ru")
    include ../pug/modules/head.pug
        title Аренда яхты в Тольятти
    body(data-spy="scroll" data-target=".site-navbar-target" data-offset="300")
        .site-wrap
            include ../pug/modules/header.pug
            include ../pug/modules/main-index.pug
            include ../pug/modules/feedback.pug
            include ../pug/modules/map.pug
            include ../pug/modules/footer.pug
            include ../pug/modules/fullscreen-loader.pug