main.site-section.bg-light.site-section-about#about
	.container
		.row.justify-content-center.mb-5
			.col-md-7.text-center.title-places
				h3.heading-92913.text-black.text-center О нас
				p.text-serif.text-primary Добро пожаловать на борт "Счастливой Звезды"! Мы – команда яхты «Счастливая Звезда»  готовы сделать ваше путешествие по Жигулёвской акватории Волги незабываемым. Аренда яхты "Счастливая Звезда" - это идеальное сочетание романтики и приключений, веселья и отдыха. Мы предлагаем возможность покататься на яхте, устроить девичник, отметить день рождения, отправиться на рыбалку, устроить романтическое свидание или насладиться закатом вдвоем.
				p.text-serif.text-primary На борту яхты Albin Scampi вы найдете не только широкую палубу и уютные спальные места, но и удобства для приятного времяпрепровождения. Специально для вашего удовольствия предусмотрен гриль, который позволит вам наслаждаться свежими блюдами прямо на свежем воздухе. Кроме того, на яхте предусмотрены различные развлечения, чтобы сделать ваше путешествие еще более увлекательным. Независимо от того, хотите ли вы насладиться рыбалкой, плаванием или просто отдохнуть под звездным небом, Albin Scampi предлагает идеальное сочетание комфорта и развлечений на борту.
				p.text-serif.text-primary Отправляйтесь в это незабвенное приключение на яхте "Счастливая Звезда" и создайте море восхитительных впечатлений вместе с нами.
