section.site-section.bg-light
	.container
		.row.justify-content-center.mb-5
			.col-md-7.text-center.title-places
				h3.heading-92913.text-black.text-center Наши преимущества
				.row.row-advantages
					.col-md-6.col-lg-4.box-advantages
						.service-29283
							span.wrap-icon-39293
								span.flaticon-advantages.flaticon-advantages_capitan
							h3 Команда
							p Опытные капитаны и комфортабельная кают-компания
					.col-md-6.col-lg-4.box-advantages
						.service-29283
							span.wrap-icon-39293
								span.flaticon-advantages.flaticon-advantages_sub
							h3 Развлечения
							p  2 сапсерфинга, караоке, x-box, настольные игры, стрельба по мишени
					.col-md-6.col-lg-4.box-advantages
						.service-29283
							span.wrap-icon-39293
								span.flaticon-advantages.flaticon-advantages_bbq
							h3 Еда
							p Гриль для приятных барбекю на свежем воздухе
					.col-md-6.col-lg-4.box-advantages
						.service-29283
							span.wrap-icon-39293
								span.flaticon-advantages.flaticon-advantages_alcohol
							h3 Напитки
							p Мини-бар с разнообразным выбором напитков
					.col-md-6.col-lg-4.box-advantages
						.service-29283
							span.wrap-icon-39293
								span.flaticon-advantages.flaticon-advantages_gift
							h3 Подарок
							p Презент от капитана в качестве приятного дополнения к вашему путешествию
					.col-md-6.col-lg-4.box-advantages
						.service-29283
							span.wrap-icon-39293
								span.flaticon-advantages.flaticon-advantages_diving
							h3 Удовольствие
							p Две купальные платформы для купания и прыжков в воду.	