section.site-section.bg-light.site-section-about#contact
	.container
		.row.justify-content-center.mb-5
			.col-md-7.text-center.title-places
				h3.heading-92913.text-black.text-center Контакты
				ul
					li Местоположение: г.Тольятти, ул. Комсомольское ш., 36. Яхт клуб Дружба.
					li Телефон: 
						a.header-link(href='tel:+79674912039') +7 967 491-20-39
					li Email: 
						a.header-link(href='mailto:konstantin-sukhov@yandex.ru') konstantin-sukhov@yandex.ru