.site-section.bg-image.overlay(style='background-image: url(\'images/hero_2.jpg\');')
	.container
		.row.justify-content-center
			.col-md-7.text-center
				h2.text-white Написать Нам
				p.lead.text-white Свяжитесь с Нами, через форму обратной связи
				p.mb-0
					a.btn.btn-warning.py-3.px-5.text-white(href='#') Написать