footer.footer.bg-light.footer__background-color
	.container
		nav.row.row-footer.row-footer_user
			.col-lg-3.col-lg-3-footer
				//- p.mb-4
				//- 	img.img-fluid.img-fluid-logo(src='images/logo.png', alt='Image')
				p.mb-4
				a(href='index.html')
					img.img-fluid.img-fluid-logo(src='images/logo-footer.png', alt='Image')
				//- p Счастливая Звезда  
				//   <p><a href="#">Learn More</a></p> 
			.col-lg-3.col-lg-3-footer.col-lg-3-footer_user
				h3.footer-heading
					span Компания
				ul.list-unstyled
					li
						a.footer__link(href='#about') О нас
					li
						a.footer__link(href='#contact') Контакты
			.col-lg-3.col-lg-3-footer.col-lg-3-footer_user
				h3.footer-heading
					span Прочее
				ul.list-unstyled
					li
						a.footer__link(href='#gallery') Галерея
					li
						a.footer__link(href='#reviews') Отзывы
		.row
			.col-12
				.copyright
					p
						| Copyright ©

						script document.write(new Date().getFullYear());
						|.  &nbsp;Все права защищены.