.footer.bg-light
	.container
		.row
			.col-lg-3
				p.mb-4
					img.img-fluid(src='images/logo.png', alt='Image')
				//   <p>Хотите с нами поплавать, тогда это к Нам</p>   
				//   <p><a href="#">Learn More</a></p> 
			.col-lg-3
				h3.footer-heading
					span Our Company
				ul.list-unstyled
					li
						a(href='#') About
					li
						a(href='#') News
			.col-lg-3
				h3.footer-heading
					span Our Services
				ul.list-unstyled
					li
						a(href='#') Industrial
					li
						a(href='#') Construction
			.col-lg-3
				h3.footer-heading
					span Contact
				ul.list-unstyled
					li
						a(href='#') Help Center
					li
						a(href='#') Support Community
		.row
			.col-12
				.copyright
					p
						| Copyright ©

						script document.write(new Date().getFullYear());
						| Все права защищены.