footer.footer.bg-light.footer__background-color
	.container
		nav.row.row-footer.row-footer_user
			.col-lg-3.col-lg-3-footer
				p.mb-4
				a(href='index.html')
					img.img-fluid.img-fluid-logo(src='images/logo-footer.png', alt='Image')
			.col-lg-3.col-lg-3-footer.col-lg-3-footer_user
				h3.footer-heading
					span Компания
				ul.list-unstyled
					li
						a.footer__link(href='#about') О нас
					li
						a.footer__link(href='#contact') Контакты
			.col-lg-3.col-lg-3-footer.col-lg-3-footer_user
				h3.footer-heading
					span Прочее
				ul.list-unstyled
					li
						a.footer__link(href='#gallery') Галерея
					li
						a.footer__link(href='#reviews') Отзывы
			.col-lg-3.col-lg-3-footer.col-lg-3-footer_user
				h3.footer-heading
					span Поделиться
				.ya-share2(data-curtain data-size="s" data-limit="3" data-services="vkontakte,odnoklassniki,telegram,twitter,viber,whatsapp,moimir,skype" data-image="https://www.happystar63.ru/images/gallery/1.jpg")

		.row
			.col-12
				.copyright
					p
						| Copyright ©

						script document.write(new Date().getFullYear());
						|.  &nbsp;Все права защищены.