script(src='js/map.js')
script(src='js/gallery.js')
script(src="js/swiper-bundle.js")
script(src="js/swiper.js")
script(src="js/button-up.js")
script(src="js/yandex-google.js")
script(src="js/feedback-form.js" async="async")
script(async src="https://www.googletagmanager.com/gtag/js?id=G-E5NN3YQ7ER")
script(src="https://yastatic.net/share2/share.js")