script(src='js/jquery-3.3.1.min.js')
script(src='js/aos.js')
script(src='js/main.js')

.show.fullscreen
script(src='js/map.js')
script(src='js/gallery.js')

script(src="js/swiper-bundle.js")
script(src="js/swiper.js")