section.site-section.bg-light.site-section-about
	.container
		.row.justify-content-center.mb-5
			.col-md-7.text-center.title-places
				h3.heading-92913.text-black.text-center Галерея изображений
				//- p.text-serif.text-primary Фото галереи
				.box-gallery
					.gallery
						img(src="images/gallery/1.jpg" alt="Изображение - 1 яхта Albin Scampi 30" class="gallery-img" onclick="showImage(src)")
						img(src="images/gallery/2.jpg" alt="Изображение - 2 яхта Albin Scampi 30" class="gallery-img" onclick="showImage(src)")
						img(src="images/gallery/3.jpg" alt="Изображение - 3 яхта Albin Scampi 30" class="gallery-img" onclick="showImage(src)")
						img(src="images/gallery/4.jpg" alt="Изображение - 4 яхта Albin Scampi 30" class="gallery-img" onclick="showImage(src)")
						img(src="images/gallery/5.jpg" alt="Изображение - 5 яхта Albin Scampi 30" class="gallery-img" onclick="showImage(src)")
						img(src="images/gallery/6.jpg" alt="Изображение - 6 яхта Albin Scampi 30" class="gallery-img" onclick="showImage(src)")
						img(src="images/gallery/7.jpg" alt="Изображение - 7 яхта Albin Scampi 30" class="gallery-img" onclick="showImage(src)")
						img(src="images/gallery/8.jpg" alt="Изображение - 8 яхта Albin Scampi 30" class="gallery-img" onclick="showImage(src)")
						img(src="images/gallery/9.jpg" alt="Изображение - 9 яхта Albin Scampi 30" class="gallery-img" onclick="showImage(src)")
						img(src="images/gallery/10.jpg" alt="Изображение - 10 яхта Albin Scampi 30" class="gallery-img" onclick="showImage(src)")
						img(src="images/gallery/11.jpg" alt="Изображение - 11 яхта Albin Scampi 30" class="gallery-img" onclick="showImage(src)")
						img(src="images/gallery/12.jpg" alt="Изображение - 12 яхта Albin Scampi 30" class="gallery-img" onclick="showImage(src)")

					.image-popup-container#imagePopup
						.box-gallerey
							img(src="" alt="Popup Image" id="popupImage")
							span(class="close-button" onclick="closeImage()") X
							button(type="button" class="next-button next-button_right") &#8250;
							button(type="button" class="back-button back-button-left") &#8249;

		.row.
