.site-mobile-menu.site-navbar-target
	.site-mobile-menu-header
		.site-mobile-menu-close.mt-3
			span.icon-close2.js-menu-toggle
	.site-mobile-menu-body
.header-top.bg-light
	.container
		.row.align-items-center.align-items-center-footer
			.col-6.col-lg-3
				a(href='index.html')
					img.img-fluid.img-fluid-logo(src='images/logo.png', alt='Image')
			.col-lg-3.d-none.d-lg-block
				.quick-contact-icons.d-flex
					.icon.align-self-start
						span.icon-location-arrow.text-primary
					.text
						span.h4.d-block Тольятти
						span.caption-text Яхт клуб Дружба
			.col-lg-3.d-none.d-lg-block
				.quick-contact-icons.d-flex
					.icon.align-self-start
						span.icon-phone.text-primary
					.text
						span.h4.d-block +7 967 491 20 39
						span.caption-text Круглосуточно
			.col-lg-3.d-none.d-lg-block
				.quick-contact-icons.d-flex.d-flex-center
					.icon.align-self-start
						span.icon-envelope.text-primary
					.text
						span.h4.d-block konstantin-sukhov@yandex.ru
						span.caption-text
			.col-6.d-block.d-lg-none.text-right
				a.d-inline-block.d-lg-none.site-menu-toggle.js-menu-toggle.text-black(href='#')
					span.icon-menu.h3
	.site-navbar.py-2.js-sticky-header.site-navbar-target.d-none.pl-0.d-lg-block(role='banner')
		.container
			.d-flex.align-items-center
				.mx-auto
					nav.site-navigation.position-relative.text-right(role='navigation')
						ul.site-menu.main-menu.js-clone-nav.mr-auto.d-none.pl-0.d-lg-block
							li
								a.nav-link.text-left(href='index.html') На главную
							li
								a.nav-link.text-left(href='gallery.html') Галерея
							li
								a.nav-link.text-left(href='#') Места
							li
								a.nav-link.text-left(href='about.html') О нас
							li
								a.nav-link.text-left(href='#') Контакты