.site-section.bg-light
	.container
		.row.justify-content-center.mb-5
			.col-md-7.text-center.title-places
				h3.heading-92913.text-black.text-center Важная информация перед поездкой
				.row.row-advantages

					.col-md-6.col-lg-4
						.service-29283
							span.wrap-icon-39293
							h3 Команда
							p Опытные капитаны и комфортабельная кают-компания11

