section.site-section.bg-light
	.container
			.container
				.row.justify-content-center.mb-5
					.col-md-7.text-center.title-places
									h3.heading-92913.text-black.text-center Важная информация перед поездкой
									p Важная информация для пассажиров во время прогулки на яхте: Правила и предостережения:
									ul
										li На яхте присутствует команда профессионалов, включая капитана, чьи инструкции и рекомендации следует строго соблюдать во время всего путешествия.
										li До 18 лет могут быть допущены только под присмотром взрослых. Пожалуйста, обеспечьте надлежащий присмотр за детьми.
										li Вы можете взять с собой еду и алкоголь. Однако, мы рекомендуем умеренное употребление алкоголя и обращаем внимание на нашу политику безопасности.
										li Во время прогулки на яхте, гости бесплатно  могут использовать инвентарь и оборудование яхты предназначенное для развлечений после согласования с капитаном.
										li На борту яхты имеются спасательные жилеты для всех пассажиров.
									p Рекомендации по подготовке:
									ul
										li Рекомендуем взять с собой плотную не мокнущую одежду, головной убор, солнцезащитные очки и крем от загара для вашего комфорта и защиты от солнечных лучей.
										li Рекомендуем прибыть в яхт-клуб минимум за 15 минут до начала поездки, чтобы успеть подготовиться к прогулке на яхте и сделать великолепные фотографии, насладиться временем на яхте.
										li Если у Вас морская болезнь, то перед поездкой рекомендуем принять таблетки от укачивания для вашего комфорта и удовольствия от путешествия.
										li На яхте можно находиться только босиком, в сланцах или носках.
									p Наши преимущества:
									ul
										li Во время пребывания на борту пассажиры обязаны безусловно следовать инструкциям и указаниям капитана и его команды.
										li Капитан имеет право принять решение о прекращении прогулки в случае возникновения конфликтов или слишком сильного опьянения пассажиров в целях обеспечения безопасности всех на борту.
										li Пожалуйста, обратите внимание, что оплата за прогулку не возвращается в случае досрочного завершения поездки по решению капитана.
										li Помните, что ваше безопасное и приятное путешествие наш приоритет. Пожалуйста, обратитесь к членам экипажа в случае любых вопросов или потребностей. Наслаждайтесь вашим временем на борту!

