section.site-section.bg-light
	.container
			.container
				.row.justify-content-center.mb-5
					.col-md-7.text-center.title-places
									h3.heading-92913.text-black.text-center Важная информация перед поездкой
									ul
										li Яхта сдаётся в аренду с капитаном
										li До 18-ти лет могут быть допущены только под присмотром взрослых.
										li Еду и алкоголь можно взять с собой.
										li Не рекомендуется употреблять алкоголь накануне поездки.
										li Рекомендуем взять с собой плотную не мокнущую одежду, головной убор, солнцезащитные очки и крем от загара.
										li На борту яхты имеются спасательные жилеты на всех пассажиров.
										li Рекомендуем прибыть в яхт-клуб минимум за 15 минут до начала поездки.
										li Если у Вас морская болезнь, то перед поездкой советуем принять таблетки от укачивания.
