.site-section.bg-light.site-section-about
	.container
		.row.justify-content-center.mb-5
			.col-md-7.text-center.title-places
				h3.heading-92913.text-black.text-center Места для путешествий
				p.text-serif.text-primary Описание 1
				p.text-serif.text-primary Описание 2
		.row.