main.site-section.bg-light.site-section-about
	.container
		.row.justify-content-center.mb-5
			.col-md-7.text-center.title-places
				h3.heading-92913.text-black.text-center О нас
				p.text-serif.text-primary Мы - команда "Счастливой Звезды", созданная для того, чтобы подарить вам незабываемые моменты на яхте по прекрасной акватории Жигулёвского моря. Наши прогулки - это слияние роскоши, романтики и приключений. Яхта "Счастливая Звезда" - это не просто корабль, это ваше средство погружения в морскую сказку, длиной 9 метров, наполненное радостью и позитивом. Позвольте нам стать частью вашей любовной истории, устроив незабываемое романтическое приключение на нашей яхте. Погрузитесь в атмосферу бесконечных возможностей и безграничной свободы, ощутите волшебство морского путешествия с "Счастливой Звездой".
				p.text-serif.text-primary Шведская яхта Альбин Скампи 30 - это воплощение изысканности и стиля на водах Жигулёвского моря. Скомпонованная для комфорта и удовольствия, эта яхта - идеальное место для создания восхитительных воспоминаний. Девушки, представьте себе роскошные закаты и бескрайние водные просторы, проплывающие за бортом этой изящной яхты. Легкий морской бриз, волнующие приключения и мгновения интимной близости - все это ждет вас на борту Альбин Скампи 30. Позвольте себе окунуться в мир роскоши и свободы на нашей яхте. Наши капитаны готовы воплотить ваши самые смелые морские мечты в реальность. Отправляйтесь в незабываемое приключение на яхте Альбин Скампи 30 и создайте море восхитительных воспоминаний!
		.row

include team.pug
include reservation.pug