.site-section.bg-light.site-section-about
	.container
		.row.justify-content-center.mb-5
			.col-md-7.text-center.title-places
				h3.heading-92913.text-black.text-center Контакты
				p.text-serif.text-primary Наши контакты: г.Тольятти, яхт клуб Дружба
				p.text-serif.text-primary Телефон: +7 967 491-20-39
		.row.
include map.pug	