.hero-slide.owl-carousel.site-blocks-cover
	.intro-section(style='background-image: url(\'images/info/fishing.jpg\');')
		.container
			.row.align-items-center
				.col-lg-7.ml-auto.text-slider_left(data-aos='fade-up')
					h1 Рыбалка на яхте
					p Ощутите настоящий азарт рыбной ловли, наслаждаясь уединением на просторах Жигулёвского моря. - Проведите время с друзьями или семьей, ловя трофейные экземпляры и наслаждаясь свежим воздухом и кристальной водой.
					p
						a.btn.btn-primary.py-3.px-5(href='#') Узнать больше
	.intro-section(style='background-image: url(\'images/info/offer.jpg\');')
		.container
			.row.align-items-center
				.col-lg-7.mx-auto.text-slider_right(data-aos='fade-up')
					h1 Романтическое предложение
					p Создайте неповторимую атмосферу и устройте незабываемый момент, делая предложение своей второй половинке на фоне заходящего солнца и ласкового морского бриза.
					p Воплотите свои мечты в реальность, организовав романтическую прогулку под парусами на волнующих водах, чтобы запечатлеть этот момент на всю жизнь.
					p
						a.btn.btn-primary.py-3.px-5(href='#') Узнать больше
	.intro-section(style='background-image: url(\'images/info/hen-party.jpg\');')
		.container
			.row.align-items-center
				.col-lg-7.mx-auto.text-slider_left(data-aos='fade-up')
					h1 Девичник на яхте
					p Устройте незабываемую вечеринку в морском стиле с вашими лучшими подругами на борту "Счастливой Звезды".
					p Насладитесь бесконечными разговорами, весельем и танцами под звездным небом, окруженные удивительной красотой природы и плавными волнами.
					p
						a.btn.btn-primary.py-3.px-5(href='#') Узнать больше
	.intro-section(style='background-image: url(\'images/info/beautiful-places.jpg\');')
		.container
			.row.align-items-center
				.col-lg-7.mx-auto.text-slider_left(data-aos='fade-up')
					h1 Прогулки к неизвестным и красивым местам
					p Погрузитесь в увлекательное путешествие по живописным уголкам Жигулёвского моря, открывая для себя тайны истории и прекрасные природные достопримечательности.
					p Встречайте восходы и закаты в море, открывая для себя места, куда не зайдет ни один турист, и наслаждаясь уединением и спокойствием далеко от суеты городской жизни.
					p
						a.btn.btn-primary.py-3.px-5(href='#') Узнать больше
	.intro-section(style='background-image: url(\'images/info/sunset.jpg\');')
		.container
			.row.align-items-center
				.col-lg-7.mx-auto.text-slider_right(data-aos='fade-up')
					h1 Любование закатом
					p Погрузитесь в волшебную атмосферу заката, наслаждаясь его красотой и романтикой на борту "Счастливой Звезды".
					p Отплывите в море и устройте романтическую прогулку под пестрое небо, где каждый закат станет неповторимым шедевром природы..
					p
						a.btn.btn-primary.py-3.px-5(href='#') Узнать больше
//   END slider 
.site-section
	.container
		.row
			.col-md-6
				img.img-fluid(src='images/hero_2.jpg', alt='Image')
			.col-md-6
				span.text-serif.text-primary О нас
				h3.heading-92913.text-black Добро пожаловать на нашу страницу
				p Добро пожаловать на сайт "Счастливая Звезда"! Мы специализируемся на организации незабываемых прогулок на шведской яхте Albin Scampi 30 футов по живописной акватории Жигулёвского моря в Тольятти.
				p
					a.btn.btn-primary.py-3.px-4(href='#') Узнать больше
.site-section.bg-light
	.container
		.row.justify-content-center.mb-5
			.col-md-7.text-center.title-places
				h3.heading-92913.text-black.text-center Наши преимущества
				.row.row-advantages
					.col-md-6.col-lg-4.box-advantages
						.service-29283
							span.wrap-icon-39293
								span.flaticon-advantages.flaticon-advantages_capitan
							h3 Команда
							p Опытные капитаны и комфортабельная кают-компания
					.col-md-6.col-lg-4.box-advantages
						.service-29283
							span.wrap-icon-39293
								span.flaticon-advantages.flaticon-advantages_sub
							h3 Развлечения
							p 2 сапсерфа для активного времяпрепровождения на воде
					.col-md-6.col-lg-4.box-advantages
						.service-29283
							span.wrap-icon-39293
								span.flaticon-advantages.flaticon-advantages_bbq
							h3 Еда
							p Гриль для приятных барбекю на свежем воздухе
					.col-md-6.col-lg-4.box-advantages
						.service-29283
							span.wrap-icon-39293
								span.flaticon-advantages.flaticon-advantages_alcohol
							h3 Напитки
							p Мини-бар с разнообразным выбором напитков
					.col-md-6.col-lg-4.box-advantages
						.service-29283
							span.wrap-icon-39293
								span.flaticon-advantages.flaticon-advantages_gift
							h3 Подарок
							p Презент от капитана в качестве приятного дополнения к вашему путешествию
					.col-md-6.col-lg-4.box-advantages
						.service-29283
							span.wrap-icon-39293
								span.flaticon-advantages.flaticon-advantages_diving
							h3 Удовольствие
							p Платформы для беззаботного купания в море
	.site-section.bg-image.overlay(style='background-image: url(\'images/hero_1.jpg\');')
		.container
			.row
				.col
					.counter-39392
						h3 более 50
						span Поездок
				.col
					.counter-39392
						h3 от 4000 р/час
						span арендная плата
				.col
					.counter-39392
						h3 от 1 часа
						span время прогулки
	.site-section.bg-light
		.container
			.row.justify-content-center.mb-5
				.col-md-7.text-center.title-places
					h3.heading-92913.text-black.text-center Места для поездки
					p.text-serif.text-primary Волжское водохранилище распахивает перед вами свой могучий объем, словно страницы старинной книги, полные приключений и красоты.
					p.text-serif.text-primary Погружаясь в эти места на яхте, вы встретите красоту, которая наполнит вашу душу вдохновением и заставит сердце биться сильнее под покровом небесной голубизны и ласкового прикосновения воды.
			.row
				.col-md-6.col-lg-4.mb-4.box-places
					.service-39381
						img.img-fluid.img-primary(src='images/destinatio/1.jpg', alt='Image')
						.p-4
							h3
								a.link-primary(href='#')
									span.icon-room.mr-1.text-primary
									| Богатырская слобода
							.d-flex
								p.text-places Остров, погруженный в мифическую атмосферу, где каждый камень кажется пропитанным духом древних легенд. Прогуливаясь по его узким тропинкам, вы почувствуете себя частью старинных эпосов.
							.ml-auto.price
								span.bg-primary 6000 руб
				.col-md-6.col-lg-4.mb-4.box-places
					.service-39381
						img.img-fluid.img-primary(src='images/destinatio/5.jpg', alt='Image')
						.p-4
							h3
								a.link-primary(href='#')
									span.icon-room.mr-1.text-primary
									| Пьяный мыс с. Хрящевка
							.d-flex
								p.text-places Это место, где ветер встречает вас с распростертыми объятиями, призывая к смелым приключениям на доске под парусом. Здесь вы почувствуете себя свободным, словно птица, парящая в небесах.
							.ml-auto.price
								span.bg-primary 4000 руб
				.col-md-6.col-lg-4.mb-4.box-places
					.service-39381
						img.img-fluid.img-primary(src='images/destinatio/2.jpg', alt='Image')
						.p-4
							h3
								a.link-primary(href='#')
									span.icon-room.mr-1.text-primary
									| Замок Гарибальди
							.d-flex
								p.text-places Возвышается над водами, словно страж, бдящий над тайнами прошлого. Его каменные стены таинственно манят к себе, призывая вас открыть свои двери и встретиться с историей, запечатленной в каждом камне
							.ml-auto.price
								span.bg-primary 4000 руб
				.col-md-6.col-lg-4.mb-4.box-places
					.service-39381
						img.img-fluid.img-primary(src='images/destinatio/3.jpg', alt='Image')
						.p-4
							h3
								a.link-primary(href='#')
									span.icon-room.mr-1.text-primary
									| Золотые пески
							.d-flex
								p.text-places Оазис красоты и умиротворения, где золотистый песок ласкает ваши ступни, а солнечные лучи играют в танце на его поверхности. Здесь время останавливается, позволяя вам насладиться мгновением вечности.
							.ml-auto.price
								span.bg-primary 4000 руб
				.col-md-6.col-lg-4.mb-4.box-places
					.service-39381
						img.img-fluid.img-primary(src='images/destinatio/4.jpg', alt='Image')
						.p-4
							h3
								a.link-primary(href='#')
									span.icon-room.mr-1.text-primary
									| Ягодное
							.d-flex
								p.text-places Крошечный уголок рая, где природа щедро одаривает вас своими дарами. Здесь в каждой ягоде – капля нежности матери-природы, готовая растопить ваше сердце своей сладостью..
							.ml-auto.price
								span.bg-primary 4000 руб
.site-section
	.container
		.row
			.col-md-7
				p
					img.img-fluid(src='images/hero_1.jpg', alt='Image')
			.col-md-5
				//   <span class="text-serif text-primary">Забронировать</span> 
				h3.heading-92913.text-black Забронировать яхту
				form.row(action='#')
					.form-group.col-md-6
						label(for='input-1') Фамилия Имя
						input.form-control#input-1(type='text', placeholder='Иванов Иван')
					.form-group.col-md-6
						label(for='input-2') Номер телефона
						input.form-control#input-2(type='text', placeholder='+71234567890')
					.form-group.col-md-6
						label(for='input-6') Email
						input.form-control#input-6(type='text', placeholder='info@yandex.ru')
					.form-group.col-md-6
						label(for='input-4') Дата
						input.form-control.datepicker#input-4(type='text', placeholder='02/07/2024')
					.form-group.col-md-12
						label(for='input-5') Место отправления
						select.form-control#input-5(name)
							option(value) Богатырская слобода
							option(value) Пьяный мыс
							option(value) Замок Гарибальди
							option(value) Золотые пески
							option(value) Ягодное
							option(value) Другое
					.form-group.col-md-12
						label(for='input-8') Комментарий
						textarea.form-control#input-8(name, cols='30', rows='5')
					.form-group.col-md-12
						input.btn.btn-primary.py-3.px-5(type='submit', value='Отправить')
.site-section
	.container
		.row.justify-content-center.mb-5
			.col-md-7.text-center
				//   <span class="text-serif text-primary">Testimonial</span> 
				h3.heading-92913.text-black.text-center Отзывы клиентов
		.row
			.mb-4.mb-lg-0.col-md-6.col-lg-4
				.testimony-39291
					blockquote
						p Меня так покатали, что я ходить не могла 2 недели
					.d-flex.vcard.align-items-center
						.pic.mr-3
							img.img-fluid(src='images/2.jpg', alt='Image')
						.text
							strong.d-block Меган Фокс
							//   <span>CEO and Co-Founder</span> 
			.mb-4.mb-lg-0.col-md-6.col-lg-4
				.testimony-39291
					blockquote
						p Поржали, покатались, покупались. Было весело.
					.d-flex.vcard.align-items-center
						.pic.mr-3
							img.img-fluid(src='images/1.jpeg', alt='Image')
						.text
							strong.d-block Просто Мария
							//   <span>CEO and Co-Founder</span> 
			.mb-4.mb-lg-0.col-md-6.col-lg-4
				.testimony-39291
					blockquote
						p С мужиками сгоняли на рыбалку, рыбу не поймали, но зато кайфанули
					.d-flex.vcard.align-items-center
						.pic.mr-3
							img.img-fluid(src='images/person_3_sq.jpg', alt='Image')
						.text
							strong.d-block Антон
							//   <span>CEO and Co-Founder</span> 
.site-section.bg-image.overlay(style='background-image: url(\'images/hero_2.jpg\');')
	.container
		.row.justify-content-center
			.col-md-7.text-center
				h2.text-white Написать Нам
				p.lead.text-white Свяжитесь с Нами, через форму обратной связи1
				p.mb-0
					a.btn.btn-warning.py-3.px-5.text-white(href='#') Написать