.site-section.bg-light.site-section-about
	.container
		.row.justify-content-center.mb-5
			.col-md-7.text-center.title-places
				h3.heading-92913.text-black.text-center Галерея изображений
				//- p.text-serif.text-primary Фото галереи
				.box-gallery
					.gallery
						img(src="images/gallery/1.jpg" alt="Image 2" class="gallery-img" onclick="showImage(src)")
						img(src="images/gallery/2.jpg" alt="Image 2" class="gallery-img" onclick="showImage(src)")
						img(src="images/gallery/1.jpg" alt="Image 2" class="gallery-img" onclick="showImage(src)")
						img(src="images/gallery/2.jpg" alt="Image 2" class="gallery-img" onclick="showImage(src)")
						img(src="images/gallery/1.jpg" alt="Image 2" class="gallery-img" onclick="showImage(src)")
						img(src="images/gallery/2.jpg" alt="Image 2" class="gallery-img" onclick="showImage(src)")
						img(src="images/gallery/1.jpg" alt="Image 2" class="gallery-img" onclick="showImage(src)")
						img(src="images/gallery/2.jpg" alt="Image 2" class="gallery-img" onclick="showImage(src)")
						img(src="images/gallery/1.jpg" alt="Image 2" class="gallery-img" onclick="showImage(src)")

					.image-popup-container#imagePopup
						.box-gallerey
							.box-popup
								img(src="" alt="Popup Image" id="popupImage")
								span(class="close-button" onclick="closeImage()") X

		.row.
include reservation.pug
include feedback.pug