.site-section.bg-light.site-section-about
	.container
		.row.justify-content-center.mb-5
			.col-md-7.text-center.title-places
				h3.heading-92913.text-black.text-center Галерея яхты Albin Scampi
				//- p.text-serif.text-primary Фото галереи
				.box-gallery
					p.paragraph-gallery
						img.img-gallery(src="images/gallery/1.jpg")
						img.img-gallery(src="images/gallery/2.jpg")
						img.img-gallery(src="images/gallery/3.jpg")
						img.img-gallery(src="images/gallery/4.jpg")
						img.img-gallery(src="images/gallery/5.jpg")

					p.paragraph-gallery
						img.img-gallery(src="images/gallery/6.jpg")
						img.img-gallery(src="images/gallery/7.jpg")
						img.img-gallery(src="images/gallery/8.jpg")
						img.img-gallery(src="images/gallery/1.jpg")
						img.img-gallery(src="images/gallery/2.jpg")

		.row.
include reservation.pug
include feedback.pug