.site-section.bg-light
		.container
			.row.justify-content-center.mb-5
				.col-md-7.text-center.title-places
					h3.heading-92913.text-black.text-center Места для поездки
					p.text-serif.text-primary Волжское водохранилище распахивает перед вами свой могучий объем, словно страницы старинной книги, полные приключений и красоты.
					p.text-serif.text-primary Погружаясь в эти места на яхте, вы встретите красоту, которая наполнит вашу душу вдохновением и заставит сердце биться сильнее под покровом небесной голубизны и ласкового прикосновения воды.
			.row
				article.col-md-6.col-lg-4.mb-4.box-places
					.service-39381
						img.img-fluid.img-primary(src='images/destinatio/1.jpg', alt='Image')
						.p-4
							h3
								a.link-primary(href='#!')
									span.icon-room.mr-1.text-primary
									| Богатырская слобода
							.d-flex
								p.text-places Остров, погруженный в мифическую атмосферу, где каждый камень кажется пропитанным духом древних легенд. Прогуливаясь по его узким тропинкам, вы почувствуете себя частью старинных эпосов.
							.ml-auto.price
								span.bg-primary 6000 руб
				article.col-md-6.col-lg-4.mb-4.box-places
					.service-39381
						img.img-fluid.img-primary(src='images/destinatio/5.jpg', alt='Image')
						.p-4
							h3
								a.link-primary(href='#!')
									span.icon-room.mr-1.text-primary
									| Пьяный мыс с. Хрящевка
							.d-flex
								p.text-places Это место, где ветер встречает вас с распростертыми объятиями, призывая к смелым приключениям на доске под парусом. Здесь вы почувствуете себя свободным, словно птица, парящая в небесах.
							.ml-auto.price
								span.bg-primary 4000 руб
				article.col-md-6.col-lg-4.mb-4.box-places
					.service-39381
						img.img-fluid.img-primary(src='images/destinatio/2.jpg', alt='Image')
						.p-4
							h3
								a.link-primary(href='#!')
									span.icon-room.mr-1.text-primary
									| Замок Гарибальди
							.d-flex
								p.text-places Возвышается над водами, словно страж, бдящий над тайнами прошлого. Его каменные стены таинственно манят к себе, призывая вас открыть свои двери и встретиться с историей, запечатленной в каждом камне
							.ml-auto.price
								span.bg-primary 4000 руб
				article.col-md-6.col-lg-4.mb-4.box-places
					.service-39381
						img.img-fluid.img-primary(src='images/destinatio/3.jpg', alt='Image')
						.p-4
							h3
								a.link-primary(href='#!')
									span.icon-room.mr-1.text-primary
									| Золотые пески
							.d-flex
								p.text-places Оазис красоты и умиротворения, где золотистый песок ласкает ваши ступни, а солнечные лучи играют в танце на его поверхности. Здесь время останавливается, позволяя вам насладиться мгновением вечности.
							.ml-auto.price
								span.bg-primary 4000 руб
				article.col-md-6.col-lg-4.mb-4.box-places
					.service-39381
						img.img-fluid.img-primary(src='images/destinatio/4.jpg', alt='Image')
						.p-4
							h3
								a.link-primary(href='#!')
									span.icon-room.mr-1.text-primary
									| Ягодное
							.d-flex
								p.text-places Крошечный уголок рая, где природа щедро одаривает вас своими дарами. Здесь в каждой ягоде – капля нежности матери-природы, готовая растопить ваше сердце своей сладостью..
							.ml-auto.price
								span.bg-primary 4000 руб