.site-section
	.container
		.row.row-reservations
			.col-md-7
				p
					img.img-fluid(src='images/hero_1.jpg', alt='Image')
			.col-md-5.col-md-5-reservations
				h3.heading-92913.text-black Забронировать яхту
				form.row(action='https://formspree.io/f/myyrwdyd' method="POST")
					.form-group.col-md-6
						label(for='input-1') Ваше имя:
						input.form-control#input-1(type='text' name="name" placeholder="Артём")
					.form-group.col-md-6
						label(for='input-3') Дата:
						input.form-control#input-3(type='text' name="postal-code" placeholder="10.06.2024")
					.form-group.col-md-12
						label(for='input-5') Место отправления
						select#input-5.form-control(name="attending")
							option(value='Гарибальди') Хрящёвка
							option(value='Пьяный мыс') Пьяный мыс
							option(value='Слобода') Слобода
							option(value='Подстёпки') Подстёпки
							option(value='Ягодное') ягодное
							option(value='Другое') Другое
					.form-group.col-md-6
						label(for='input-6') Email:
						input.form-control#input-6(type='email' name="email" placeholder='info@yandex.ru')
					.form-group.col-md-6
						label(for='input-7') Телефон:
						input.form-control#input-7(type='telephone' name="telephone" placeholder='+71234567890')
					.form-group.col-md-12
						label(for='input-8') Комментарий
						textarea#input-8.form-control(name="message", cols='30', rows='5')
					.form-group.col-md-12
						input.btn.btn-primary.py-3.px-5(type='submit', value='Отправить')