section.box-contact-reservation
    .container.container__contact
        .box-contact#contact
            .row.justify-content-center.mb-5
                .col-md-7.text-center.title-places
                    h3.heading-92913.text-black.text-center Контакты
                    ul
                        li Местоположение: г.Тольятти, ул. Комсомольское ш., 36. Яхт клуб Дружба.
                        li Телефон: 
                            a.header-link(href='tel:+79674912039') +7 967 491-20-39
                        li Email: 
                            a.header-link(href='mailto:konstantin-sukhov@yandex.ru') konstantin-sukhov@yandex.ru
                        li Мы в Вконтакте: 
                            a.header-link(href='https://vk.com/happystar63') https://vk.com/happystar63
            .container-map
                h3.heading-92913.text-black.text-center Мы на карте
                .box-map
                    script(async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7e62ad59ec621e48cae0c0b470ce4626220f2b4ac9022e3be78a6c16b66d83db&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true")
        .box-reservation
            h3.heading-92913.text-black.text-center Забронировать яхту
            .box-reserv(data-formid="form_YnbyHq8JeLWFJo-16SSr1F9qTnBBtCoc")
