section.site-section#reviews
	.container
		.row.justify-content-center.mb-5
			.col-md-7.text-center
				//   <span class="text-serif text-primary">Testimonial</span> 
				h3.heading-92913.text-black.text-center Отзывы клиентов
		.row
			.mb-4.mb-lg-0.col-md-6.col-lg-4
				.testimony-39291
					blockquote
						p Меня так покатали, что я ходить не могла 2 недели
					.d-flex.vcard.align-items-center
						.pic.mr-3
							img.img-fluid(src='images/2.jpg', alt='Image')
						.text
							strong.d-block Меган Фокс
							//   <span>CEO and Co-Founder</span> 
			.mb-4.mb-lg-0.col-md-6.col-lg-4
				.testimony-39291
					blockquote
						p Поржали, покатались, покупались. Было весело.
					.d-flex.vcard.align-items-center
						.pic.mr-3
							img.img-fluid(src='images/1.jpeg', alt='Image')
						.text
							strong.d-block Просто Мария
							//   <span>CEO and Co-Founder</span> 
			.mb-4.mb-lg-0.col-md-6.col-lg-4
				.testimony-39291
					blockquote
						p С мужиками сгоняли на рыбалку, рыбу не поймали, но зато кайфанули
					.d-flex.vcard.align-items-center
						.pic.mr-3
							img.img-fluid(src='images/person_3_sq.jpg', alt='Image')
						.text
							strong.d-block Антон
							//   <span>CEO and Co-Founder</span> 