section.site-section#reviews
	.container
		.row.justify-content-center.mb-5
			.col-md-7.text-center
				//   <span class="text-serif text-primary">Testimonial</span> 
				h3.heading-92913.text-black.text-center Отзывы клиентов
		.row
			.mb-4.mb-lg-0.col-md-6.col-lg-4
				.testimony-39291
					blockquote
						p Прогулка на яхте была удивительной. Ощущение свежего ветра, прозрачной воды и роскошного обслуживания создало идеальную атмосферу для отдыха. Рекомендую всем, кто хочет насладиться роскошным отдыхом на воде."
						.text
							strong.d-block Ольга
			.mb-4.mb-lg-0.col-md-6.col-lg-4
				.testimony-39291
					blockquote
						p Яхтинг стал для нас незабываемым приключением. Капитан сделал все возможное, чтобы наше время на яхте было комфортным и веселым. Вид на горизонт, закат и роскошная атмосфера сделали этот опыт одним из лучших в нашей жизни."
						.text
							strong.d-block Мария
			.mb-4.mb-lg-0.col-md-6.col-lg-4
				.testimony-39291
					blockquote
						p  Прогулка на яхте стала для нашей семьи настоящим открытием. Дети в восторге от плавания, а мы с супругой наслаждались солнцем, красотой реки и отличным сервисом. Отличный способ провести время в гармонии с природой и близкими людьми."
						.text
							strong.d-block Антон и Оксана