.slider-header
	.swiper
		.swiper-wrapper
			.swiper-slide(style='background-image: url(\'images/info/offer.jpg\');')
				.slider-header__box.slider-header__box_right
					h2 Романтическое предложение
					p "Добро пожаловать на борт яхты "Счастливая звезда"! Готовьтесь к романтическим и увлекательным прогулкам на яхте по прекрасным Волжским просторам. Насладитесь неповторимыми видами и атмосферой, погружаясь в мир яхтинга и приключений с Вашей "Счастливой звездой"

			.swiper-slide(style='background-image: url(\'images/info/fishing.jpg\');')
				.slider-header__box.slider-header__box_left
					h2 Рыбалка на яхте
					p "Устроим незабываемую рыбалку на яхте!"

			.swiper-slide(style='background-image: url(\'images/info/hen-party.jpg\');')
				.slider-header__box.slider-header__box_left
					h2 Девичник на яхте
					p "Девичник на яхте - веселье без границ!"

			.swiper-slide(style='background-image: url(\'images/info/yacht-party.jpg\');')
				.slider-header__box.slider-header__box_right
					h2 День рождения на яхте
					p "Празднуйте день рождения на яхте!"

			.swiper-slide(style='background-image: url(\'images/info/omantic.jpg\');')
				.slider-header__box.slider-header__box_right
					h2 Романтическое свидание на яхте
					p "Романтика на яхте - лучшее свидание!"

			.swiper-slide(style='background-image: url(\'images/info/sunset.jpg\');')
				.slider-header__box.slider-header__box_right
					h2 Вечернее наслаждение
					p "Погрузитесь в волшебство заката, насладитесь незабываемыми моментами в море красок и эмоций!"

		.swiper-button-next
		.swiper-button-prev
		.swiper-pagination