section.hero-slide.owl-carousel.site-blocks-cover
	.intro-section(style='background-image: url(\'images/info/fishing.jpg\');')
		.container
			.row.align-items-center
				.col-lg-7.ml-auto.text-slider_left(data-aos='fade-up')
					h2.text-white Рыбалка на яхте
					p Ощутите настоящий азарт рыбной ловли, наслаждаясь уединением на просторах Жигулёвского моря. - Проведите время с друзьями или семьей, ловя трофейные экземпляры и наслаждаясь свежим воздухом и кристальной водой.
					p
						a.btn.btn-primary.py-3.px-5(href='#') Узнать больше
	.intro-section(style='background-image: url(\'images/info/offer.jpg\');')
		.container
			.row.align-items-center
				.col-lg-7.mx-auto.text-slider_right(data-aos='fade-up')
					h2.text-white Романтическое предложение
					p Создайте неповторимую атмосферу и устройте незабываемый момент, делая предложение своей второй половинке на фоне заходящего солнца и ласкового морского бриза.
					p Воплотите свои мечты в реальность, организовав романтическую прогулку под парусами на волнующих водах, чтобы запечатлеть этот момент на всю жизнь.
					p
						a.btn.btn-primary.py-3.px-5(href='#') Узнать больше
	.intro-section(style='background-image: url(\'images/info/hen-party.jpg\');')
		.container
			.row.align-items-center
				.col-lg-7.mx-auto.text-slider_left(data-aos='fade-up')
					h2.text-white Девичник на яхте
					p Устройте незабываемую вечеринку в морском стиле с вашими лучшими подругами на борту "Счастливой Звезды".
					p Насладитесь бесконечными разговорами, весельем и танцами под звездным небом, окруженные удивительной красотой природы и плавными волнами.
					p
						a.btn.btn-primary.py-3.px-5(href='#') Узнать больше
	.intro-section(style='background-image: url(\'images/info/beautiful-places.jpg\');')
		.container
			.row.align-items-center
				.col-lg-7.mx-auto.text-slider_left(data-aos='fade-up')
					h2.text-white Прогулки к неизвестным и красивым местам
					p Погрузитесь в увлекательн pug -w pug/*.pug -o ./ -P тайны истории и прекрасные природные достопримечательности.
					p Встречайте восходы и закаты в море, открывая для себя места, куда не зайдет ни один турист, и наслаждаясь уединением и спокойствием далеко от суеты городской жизни.
					p
						a.btn.btn-primary.py-3.px-5(href='#') Узнать больше
	.intro-section(style='background-image: url(\'images/info/sunset.jpg\');')
		.container
			.row.align-items-center
				.col-lg-7.mx-auto.text-slider_right(data-aos='fade-up')
					h2.text-white Любование закатом
					p Погрузитесь в волшебную атмосферу заката, наслаждаясь его красотой и романтикой на борту "Счастливой Звезды".
					p Отплывите в море и устройте романтическую прогулку под пестрое небо, где каждый закат станет неповторимым шедевром природы..
					p
						a.btn.btn-primary.py-3.px-5(href='#') Узнать больше