section.hero-slide.owl-carousel.site-blocks-cover
	.intro-section(style='background-image: url(\'images/info/offer.jpg\');')
		.container
			.row.align-items-center
				.col-lg-7.mx-auto.text-slider_right(data-aos='fade-up')
					h2.text-white Романтическое предложение
					p "Добро пожаловать на борт яхты "Счастливая звезда"! Готовьтесь к романтическим и увлекательным прогулкам на яхте по прекрасным Волжским просторам. Насладитесь неповторимыми видами и атмосферой, погружаясь в мир яхтинга и приключений с Вашей "Счастливой звездой"
					p
						a.btn.btn-primary.py-3.px-5(href='#') Узнать больше
	.intro-section(style='background-image: url(\'images/info/fishing.jpg\');')
		.container
			.row.align-items-center
				.col-lg-7.ml-auto.text-slider_left(data-aos='fade-up')
					h2.text-white Рыбалка на яхте
					p "Устроим незабываемую рыбалку на яхте!"
					p
						a.btn.btn-primary.py-3.px-5(href='#') Узнать больше
	.intro-section(style='background-image: url(\'images/info/hen-party.jpg\');')
		.container
			.row.align-items-center
				.col-lg-7.mx-auto.text-slider_left(data-aos='fade-up')
					h2.text-white Девичник на яхте
					p "Девичник на яхте - веселье без границ!"
					p
						a.btn.btn-primary.py-3.px-5(href='#') Узнать больше
	.intro-section(style='background-image: url(\'images/info/yacht-party.jpg\');')
		.container
			.row.align-items-center
				.col-lg-7.mx-auto.text-slider_left(data-aos='fade-up')
					h2.text-white День рождения на яхте:
					p  "Празднуйте день рождения на яхте!"
					p
						a.btn.btn-primary.py-3.px-5(href='#') Узнать больше
	.intro-section(style='background-image: url(\'images/info/omantic.jpg\');')
		.container
			.row.align-items-center
				.col-lg-7.mx-auto.text-slider_left(data-aos='fade-up')
					h2.text-white Романтическое свидание на яхте
					p "Романтика на яхте - лучшее свидание!"
					p
						a.btn.btn-primary.py-3.px-5(href='#') Узнать больше
	.intro-section(style='background-image: url(\'images/info/sunset.jpg\');')
		.container
			.row.align-items-center
				.col-lg-7.mx-auto.text-slider_right(data-aos='fade-up')
					h2.text-white Вечернее наслаждение
					p "Погрузитесь в волшебство заката, насладитесь незабываемыми моментами в море красок и эмоций!"
					p
						a.btn.btn-primary.py-3.px-5(href='#') Узнать больше