section.site-section
	.container
		.row.justify-content-center.mb-5
			.col-md-7.text-center
				//  <span class="text-serif text-primary">Team</span> 
				h3.heading-92913.text-black.text-center Наша команда
		.row
			.col-lg-3.col-md-6.mb-lg-0
				.person
					figure
						img.img-fluid(src='images/person_1.jpg', alt='Image')
					.person-contents
						h3 Константин
						span.position Капитан
			.col-lg-3.col-md-6.mb-lg-0
				.person
					figure
						img.img-fluid(src='images/person_4.jpg', alt='Image')
					.person-contents
						h3 Артём
						span.position Помощник Капитана	