section.site-section
    .container
        .row
            .col-md-6
                img.img-fluid(src='images/hero_2.jpg', alt='Image')
            .col-md-6
                h1.heading-92913.text-black Бронирование яхты "Счастливая Звезда"
                p Добро пожаловать на сайт "Счастливая Звезда"! Мы специализируемся на организации незабываемых прогулок на шведской яхте Albin Scampi 30 футов по живописной акватории Жигулёвского моря в Тольятти.
                p
                    a.btn.btn-primary.py-3.px-4(href='#') Узнать больше